<table id="document">
  <tr>
    <td id="logo">
      <%= image_tag Spree::Config[:print_invoice_logo_path].sub('public/images/', '') %>
    </td>
    <td class="right">
      <% if @hide_prices %>
        <h3><%= I18n.t(:packaging_slip) %></h3>
      <% else %>
        <h3><%= I18n.t(:customer_invoice) %></h3>
      <% end %>
      <p id="order_number">
        <%= "#{I18n.t(:order_number)} #{@order.number}" %><br />
        <%= @order.email %>
      </p>
      <p>
        <%= I18n.l @order.completed_at.to_date %>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
<%
  bill_address = @order.bill_address
  ship_address = @order.ship_address
  shipping_method = @order.shipping_method
  anonymous = @order.email =~ /@example.net$/
%>      
      <table id="address" class="with_border" cellspacing="0">
        <tr>
          <th><%= I18n.t(:billing_address) %></th>
          <th><%= I18n.t(:shipping_address) %></th>
        </tr>
        <tr>
          <td>
            <p>
            <% unless anonymous and Spree::Config[:suppress_anonymous_address] %>
              <%= "#{bill_address.firstname} #{bill_address.lastname}" %><br />
              <%= bill_address.address1 %>
              <%= bill_address.address2 %><br />
              <%= "#{@order.bill_address.zipcode} #{@order.bill_address.city}  #{(@order.bill_address.state ? @order.bill_address.state.abbr : "")} " %><br />
              <%= bill_address.country.name %><br />
              <%= bill_address.phone %><br />
            <% end %>
            </p>
          </td>
          <td>
            <p>
            <% unless anonymous and Spree::Config[:suppress_anonymous_address] %>
              <%= "#{ship_address.firstname} #{ship_address.lastname}" %><br />
              <%= ship_address.address1 %>
              <%= ship_address.address2 %><br />
              <%= "#{@order.ship_address.zipcode} #{@order.ship_address.city} #{(@order.ship_address.state ? @order.ship_address.state.abbr : "")}" %><br />
              <%= ship_address.country.name %><br />
              <%= ship_address.phone %><br />
              <%= "Shipping method: #{shipping_method.name}" if shipping_method %>
            <% end %>
            </p>
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table id="line_items" class="with_border" cellspacing="0">
        <tr>
          <th><%= t(:sku) %></th>
          <th><%= t(:item_description) %></th>
          <%== "<th class=\"right\">#{t(:price)}</th>" unless @hide_prices %>
          <th class="right"><%= t(:qty) %></th>
          <%== "<th class=\"right\">#{t(:total)}</th>" unless @hide_prices %>
        </tr>
        <% @order.line_items.each do |item| %>
        <tr>
          <td><%= item.variant.product.sku %></td>
          <td><%= item.variant.product.name %></td>
          <%== "<td class=\"right\">#{number_to_currency(item.price)}</td>" unless @hide_prices %>
          <td class="right"><%= item.quantity %></td>
          <%== "<td class=\"right\">#{number_to_currency(item.price * item.quantity)}</td>" unless @hide_prices %>
        </tr>
        <% end %>
        <% unless @hide_prices %>
          <tr id="summary">
            <td colspan="4">
              <p>
                <%= t(:subtotal) %><br />
                <% @order.adjustments.each do |charge| %>
                  <%= charge.label %><br />
                <% end %>
                <%= t(:order_total) %>
              </p>
            </td>
            <td>
              <p>
                <%= number_to_currency(@order.item_total) %><br />
                <% @order.adjustments.each do |charge| %>
                  <%= number_to_currency(charge.amount) %><br />
                <% end %>
                <%= number_to_currency(@order.total) %>
              </p>            
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>
